<div
	tabindex="-1"
	class="toast-item-container-nG0uk button-container-zVLH6 {{ status }}"
	id="{{ id }}"
>
	<div class="icon-container-rjAiH">
		<svg class="icon-Y4I_O" viewBox="0 0 512 512">
			<path
				d="M421 128 197 384l-96-96"
				style="
				stroke: currentcolor;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-width: 60;
				fill: none;
			"
			></path>
		</svg>
	</div>

	<div class="info-container-xD9V6">
		<div class="title-container-VFReJ">{{ title }}</div>
		<div class="message-container-znkCj">
			{{ message }}
		</div>
	</div>
</div>
