<h4 style="color: white; margin-bottom: 1rem;">
    Developed By: <p style="display: inline !important;"><a href="https://github.com/REVENGE977" target="_blank" rel="noreferrer">REVENGE977</a></p>
    <br/>
    Version: v{{ version }}
    <br/>
</h4>

<div class="option-vFOAS">
    <div class="heading-dYMDt">
        <div class="label-qI6Vh">Check for updates on startup</div>
    </div>
    <div class="content-P2T0i">
        <div tabindex="-1" class="toggle-container-lZfHP button-container-zVLH6 {{ checkForUpdatesOnStartup }}" id="checkForUpdatesOnStartup">
            <div class="toggle-toOWM"></div>
        </div>
    </div>
</div>

<div class="option-vFOAS">
    <div class="heading-dYMDt">
        <div class="label-qI6Vh">Discord Rich Presence</div>
    </div>
    <div class="content-P2T0i">
        <div tabindex="-1" class="toggle-container-lZfHP button-container-zVLH6 {{ discordrichpresence }}" id="discordrichpresence" style="outline: none;">
            <div class="toggle-toOWM"></div>
        </div>
    </div>
</div>

<div class="option-vFOAS">
    <div class="heading-dYMDt">
        <div class="label-qI6Vh">Window transparency</div>
    </div>
    <div class="content-P2T0i">
        <div tabindex="-1" class="toggle-container-lZfHP button-container-zVLH6 {{ enableTransparentThemes }}" id="enableTransparentThemes" style="outline: none;">
            <div class="toggle-toOWM"></div>
        </div>
    </div>
</div>

<p style="color:gray;">This option has to be enabled for themes that support transparency to work. (experimental)</p>
<br/>

<div class="option-vFOAS">
    <div class="content-P2T0i">
        <div tabindex="0" title="Community Plugins &amp; Themes" class="button-DNmYL button-container-zVLH6 button" id="browsePluginsThemesBtn">
            Community Marketplace
        </div>
    </div>
</div>

<div class="option-vFOAS">
    <div class="content-P2T0i">
        <div tabindex="0" title="Check For Updates" class="button-DNmYL button-container-zVLH6 button" id="checkforupdatesBtn">
            Check For Updates
        </div>
    </div>
</div>

<br/>